/* **************************************GENERAL**************************** */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  color: white;
}

ul{
  list-style: none;
}

li,
span{
  color: #6a6c71;
}

/* **********************************UTILITY******************************* */

.debug{
  border: 1px solid red;
}

.overflow-y{
  overflow-y: auto;
}

.flex{
  display: flex;
  flex-wrap: wrap;
}

/* **********************************MAIN********************************** */

main{
  height: calc(100vh - 90px);
  background-color: #141922;
  display: flex;
}

/* ******************************************Bar-left **************/
#bar-left{
  height: calc(100vh - 90px);
  width: 225px;
  background-color: black;

}

/* **************************************** Menu */
.menu{
  height: calc(100% - 90px);
  overflow-y: auto;
}

.menu li:hover{
  color:white;
}

.menu li{
  cursor: pointer;
  padding: 5px 0;
}

.logo{
  margin: 20px;
  width: 130px;
}

.menu .home img{
  margin-right: 10px;
  width: 20px;
}

.home li{
  padding-left: 20px;
  display:block;
}

.home ul li:first-child{
  border-left: 3px  #adff2f solid;
  color:white;
}

/* ****************************************Playlist */
 
.playlist{
  height: 310px;
  padding: 20px 0 0 20px;
  overflow-y: auto;
}

.center{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.create{
  font-size: 1.1rem;
  padding-left: 10px;
}

.plus{
  text-align: center;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 10px 0;
  background-color:#6a6c71;
}

.plus span{
  font-size: 2rem;
  color:black;
}

.center:hover .plus{
  background-color: white;
}

.center:hover .hw,
.app:hover .hw{
  color: white;
}

/***************************************** Profile  */
.profile{
  height: 90px;

}

.app{
  padding:10px 20px;
}

.app img{
  width: 10px;
}

.name{
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.name img{
  width: 25px;
  height: 25px;
  background-color: #6a6c71;
  border-radius: 50%;
  margin-right: 10px;
}

/* ********************************************* BAR-RIGHT************/
#bar-right{
  width: calc(100vw - 225px);
}

/* *****************************************BAR-TOP */

.bar-top{
  background-color: rgb(16, 22, 36, 0.5);
  width: calc(100vw - 225px);
  height: 90px;
  position:fixed;
  top: 0;
  right: 0;
  z-index: 999;
}

/* **************************************CENTRAL_BODY */

.central-body{
  height:100%;
  padding-top: 100px;
}

/* *********************************FOOTER********************************* */

footer{
  height: 90px;
  background-color: #282828;
}



/* ************************************RESPONSIVE*************************** */