/* **************************************GENERAL**************************** */

:root{
  --lightgreen:#adff2f;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  color: white;
}

ul{
  list-style: none;
}

li{
  color: #6a6c71;
  cursor: pointer;
}

li:hover{
  color:white;
}

span{
  color: #6a6c71;
}

/* ***************************************************************  UTILITY ******************************* */

.overflow-y{
  overflow-y: auto;
}

.flex{
  display: flex;
}

.f-wrap{
  flex-wrap: wrap;
}

.direction-col{
  flex-direction: column;
}

/* ****************************************************************** MAIN 
********************************** */

main{
  height: calc(100vh - 90px);
  background-color: #141922;
  overflow: hidden;
}

/* *********************************************  Bar-left    **************/

#bar-left{
  height: calc(100vh - 90px);
  width: 225px;
  background-color: black;
}

/* **************************************** Menu */
.menu{
  height: 210px;
}

.menu li{
  padding: 5px 0;
}

.logo{
  margin: 20px;
  width: 130px;
}

.display-logo{
  margin: 10px;
  display: none;
  width: 25px;
}

.menu .home img{
  margin-right: 10px;
  width: 20px;
}

.home li{
  padding-left: 20px;
  display:block;
  border-left: 3px black solid;
}

li.home-active{
  border-left: 3px #adff2f solid;
  color:white;
}

/* ****************************************Playlist */
 
.playlist{
  height: calc(100% - 90px - 210px);
  padding: 20px 0 0 20px;
}

.center{
  align-items: center;
  cursor: pointer;
}

.create{
  font-size: 1.1rem;
  padding-left: 10px;
}

.plus{
  text-align: center;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 10px 0;
  background-color:#6a6c71;
}

.plus span{
  font-size: 2rem;
  color:black;
}

.center:hover .plus{
  background-color: white;
}

.center:hover .hw,
.app:hover .hw{
  color: white;
}

/***************************************** Profile  */

.profile{
  height: 90px;
  padding:0 20px;
}

.app{
  padding:10px 0;
}

.app img{
  width: 10px;
}

.name{
  align-items: center;
  padding: 10px 0px;
}

.name .profile-img{
  text-align: center;
  width: 25px;
  height: 25px;
  background-color: #6a6c71;
  border-radius: 50%;
  margin-right: 10px;
}

.name .profile-img img{
  height: 20px;
}

/* ********************************************* BAR-RIGHT************/

#bar-right{
  width: calc(100vw - 225px);
}

/* *****************************************BAR-TOP */

.bar-top{
  background-color: rgba(0, 0, 0, 0.7);
  width: calc(100vw - 225px);
  height: 90px;
  position:fixed;
  top: 0;
  right: 0;
  z-index: 999;
}

.bar-top a{
  position: absolute;
  right: 20px;
  top:25px;
  text-decoration: none;
  color: white;
  padding: 10px 30px;
  border: 1px white solid;
  border-radius: 40px;
}

.bar-top a:hover{
  top: 20px;
  padding: 15px 40px;
  font-size: 1.1rem;
}


/* **************************************CENTRAL_BODY */

.central-body{
  height:100%;
  padding-top: 100px;
}

/*************** Categories list */

.categories{
  justify-content: center;
}

.categories li{
  padding: 10px;
  display: inline-block;
}

.categories .categories-active::after{
  content: '';
  display: block;
  position: relative;
  width: 40%;
  border: 2px solid #adff2f;
  margin: 8px auto;
}

/****************** Card */

.container{
  padding: 0px 0px 20px 20px;
}

.container h2{
  padding-top: 40px;
  padding-bottom: 10px;
}

.card-img img{
  object-fit: cover;
  max-width: 100%;
}

.card-img{
  margin-bottom: 20px;
  position: relative;
}

.card{
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}

.col{
  padding: 20px 20px 20px 0;
  width: calc(100% / 6 - 5px);
}

.img-circle{
  border-radius: 50%;
}

.hidden-play{
  position: absolute;
  top:0;
  left: 0;
  z-index: 11;
  display: none;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7) ;
  justify-content: center;
  align-items: center;
}

.hidden-play .fa-circle-play{
  color: white;
  font-size: 5rem;
}

.card:hover .hidden-play{
  display: flex;
}

/* *********************************FOOTER********************************* */

footer{
  height: 90px;
  background-color: #282828;
  width: 100%;
}

 footer{
  font-size: 0.7rem;
}

.bot-container{
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

/* ***************************************BOT LEFT */

.bot-left{
  height: 100%;
  width: 215px;
  padding-left: 10px;
  align-items: center;
}

.img-play img{
  width: 45px;
}

.img-play{
  padding-right: 10px;
}

.text-play{
  padding-right: 15px;
}

.bot-left i{
  color: #6a6c71;
  padding-left: 10px;
}

footer i:hover{
  color: white;
}

.text-play span:hover{
  color: white;
  border-bottom: 1px white solid;
}

/* **********************************BOT CENTER */

.bot-center{
  height: 90px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  flex-grow: 2;
}

/* **************** BOT-CENTER-TOP */
.bot-center-top i{
  height: 50%;
  padding: 0 10px 0 10px;
}

.bot-center-top .fa-circle-play{
  padding: 0 15px 2px 15px;
  font-size: 1.2rem;
}

.bot-center .fa-circle-play:hover{
  transform: scale(1.2);
}

.bot-center ul{
  height: 100%;
  align-items: center;
}

/* *************** MUSIC BAR TIME */
.music{
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 10px;
  height: 50%;
}

.music span{
  align-items: center;
  font-size: 0.6rem;
  color: white;
}

.bar-music{
  position: relative;
  height: 3px;
  width: 40%;
  background-color: #6a6c71;
  margin: 0px 10px;
  border-radius: 3px;
}

.time{
  position: absolute;
  left: 0;
  height: 3px;
  width: 10%;
  background-color: white;
  border-radius: 3px;
}

/*  for bar music and volume */
footer .fa-circle{
  display: none;
  position: absolute;
  bottom: -5px;
  right: -9px;
}

.bar-hover:hover .bg-hover{
  background-color: #adff2f;
}

.bar-hover:hover .fa-circle{
  display: inline-block;
}

.bot-center-top i,
.bot-right i
{
 color: white;
}

/* **************** bot-right */
.bot-right{
  height: 100%;
  width: 200px;
  padding-right: 20px;
  align-items: center;
}

.bot-right li{
  padding-right: 10px;
}

.all-volume{
  position: relative;
  height: 3px;
  width: 120px;
  background-color: #6a6c71;
  border-radius: 3px;
}

.volume{
  position: absolute;
  left: 0;
  height: 3px;
  width: 25px;
  background-color: white;
  border-radius: 3px;
}

/* ************************************RESPONSIVE*************************** */

/* 
 funziona fino a 542px
 */

/* *************************************** DA 1099 */
@media screen and (max-width:1099px){
  .col{
    width: calc(100% / 4 - 5px);
  }
}

/* ************************************** DA 699 */
@media screen and (max-width:699px){
  .col{
    width: calc(100% / 2 - 5px);
  }
}

/* *************************************** DA 599 */
@media screen and (max-width:599px){
  .desktop{
    display: none;
  }

  #bar-left{
    width: 50px;
  }

  .menu{
    height: calc(100% - 90px);
  }

  #bar-right{
    width: calc(100% - 50px);
  }

  .bar-top{
    width: calc(100% - 50px);
  }

  .profile{
    padding:0 10px;
  }

  .name .profile-img{
    margin-right: 0px;
  }

  .app{
    padding:10px 7px;
  }

  .display-logo{
    display: block;
  }

  .home li{
    padding-left: 12px;
  }

}